<form method="POST" action=" ">
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            {{ message.message }}
        {% endfor %}
    {% endif %}
    {% comment %} <label for = 'teacher'>Teacher</label>
    <input type="text" name="teacher" value={{request.user}}> {% endcomment %}
    {% comment %} {{form.teacher.as_hidden}} {% endcomment %}
    <label for = 'name'>Student name</label>
    {{form.name}}

    <label for = 'email'>Email:</label>
    {{form.email}}

    <label for = 'phone'>Phone:</label>
    {{form.phone}}

    <input type="submit" value="추가">
    {% comment %} {{ form.as_table}} {% endcomment %}
</form>