<!-- 학생들 현재 보유 포인트, 지금까지 사용한 포인트 확인 -->
{% extends 'administrator/observation/student.html' %}
{% load static %}

{% block title %}
    <title>상품 구매 현황 페이지</title>
    <link rel="stylesheet" href="{% static 'All.css' %}" />
{% endblock title %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="point.js"> </script>  -->
{% endblock script %}    


{% block subject %}
<h3>상품 구매 현황</h3>
<h1>Product purchase log</h1>
{% endblock subject %}
    
{% block top %}
    <img id="topImg" src="{%static 'purchase/basket.png' %}"/>
{% endblock top %} 
   
{% block table %}
    <th>Product Name</th>
    <th>Quantity</th>
    <th>User</th>
{% endblock table %}

{% block data %}
{% for name, item_value in item_list.items %}

<tr>
    <td>{{name}}</td>
    <td>{{item_value.count}}</td>
    <td>
        {% for object in item_value.item %}
            <li>{{ object.student.name }}</li>
        {% endfor %} 
    </td>
</tr>
{% endfor%}


{% endblock data %}