{% load static %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>MAIN</title>
    <link rel="stylesheet" href="{% static 'main/main_style.css' %}">
</head>
<body>
    <div class='whole_container'>
        <header> 
            <div class='inner'>
               <!-- <div class='logo'>logo자리
                    <a href=''></a>
                </div>  -->
            </div>
        </header>
       

        <div class='main_container'>

            <div class='main_ment'>
                <p class='ment'>녹색 활동을 통한</p>
            </div>
            <div class='main_ment'>
                <p class='ment'>올바른 성장 </p>
            </div>
            <div class='main_ment_sub'>
                <p class='ment_sub'>관찰일지를 통한 친환경 교육과 경제 개념 실습 </p>
                <p class='ment_sub'>하루하루 올바른 성장을 위한 지도 </p>
            </div> 

            <div class = 'main_page_link'>
                <ul>
                    <li class='link_li'>
                        <a href="{% url 'administrator:check_purchase' %}" class='link_a'>상품 구매현황</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:requirement' %}" class='link_a'>요구사항</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:student-log' %}" class='link_a'>학생 포인트 조회</a>
                    </li>
                    <li class='link_li'>
                        <a href="{% url 'administrator:item-update' 2 %} " class='link_a'>상품 관리</a>
                    </li>
                </ul>
             </div>

            <div class='menu_list'>
                <ul>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:observation' %}">관찰일지 목록</a>
                    </li>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:point_list' %}">포인트 항목</a>
                    </li>
                    <li class='menu_box'>
                        <a href="{% url 'administrator:market' %}">장터</a>
                    </li>
                    <!-- <li class='menu_box'>
                        <a href="">링크당</a>
                    </li> -->
                </ul>
            </div>

        </div>
    </div>


</body>
</html>