{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="{% static 'All.css' %}" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" /> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>


</head>

<body>
    <p>차트 그리기 연습</p>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
    <br>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    
    <input type="text" id="StartDate">
    <input type="text" id="EndDate">
    <input type="button" name='filter' id="filter" value="filter" >
</body>

<script type="text/javascript">
    /*라이브러리 로드*/
    /*Visualization API및 corechart패키지 최신버전으로 로드 */
    google.charts.load('current', {'packages':['corechart', 'line']});
    google.charts.setOnLoadCallback(drawChart1);
    google.charts.setOnLoadCallback(drawChart2);
    /*comment %} Google Visualization API가 로드될 때 실행할 콜백을 설정*/
    
    /*파이차트*/
    function drawChart1() {
            {% for item, value in item_list.items %}
                console.log(['{{item}}', Number('{{value}}')])

            {% endfor %}
        
        /*데이터셋팅*/
        var data1 = google.visualization.arrayToDataTable([
            ['name', 'item_count'],
            {% for item, value in item_list.items %}
                ['{{item}}', Number('{{value.count}}')],
            {% endfor %}
        ]);

        var options1 = {
          title: 'My Daily Activities',
        };


        /* 차트 그리기 */
        var chart1 = new google.visualization.PieChart(document.getElementById('piechart'));

        chart1.draw(data1, options1);
    } 





    /*라인차트*/
    function drawChart2() {
        var data2 = new google.visualization.DataTable();
        data2.addColumn('number', 'Day');

        {% for item_name in item_list.keys %}
            data2.addColumn('number', '{{item_name}}');
            console.log('##')
        {% endfor %}

        data2.addRows([
            /*{% for item in item_list.keys %}
               

            {% endfor %}*/

            [2,  30.9, 20],
            [3,  25, 20],
            /*
            [4,  11.7, 18.8],
            [5,  11.9, 17.6],
            [6,   8.8, 13.6],
            [7,   7.6, 12.3],
            [8,  12.3, 29.2],
            [9,  16.9, 42.9, 14.8],
            [10, 12.8, 30.9, 11.6],
            [11,  5.3,  7.9,  4.7],
            [12,  6.6,  8.4,  5.2],
            [13,  4.8,  6.3,  3.6],
            [14,  4.2,  6.2,  3.4]*/
        ]);

        var options2 = {
            chart: {
            title: 'Box Office Earnings in First Two Weeks of Opening',
            subtitle: 'in millions of dollars (USD)'
            },
            width: 900,
            height: 500
        };

        var chart2 = new google.charts.Line(document.getElementById('chart_div'));

        chart2.draw(data2, google.charts.Line.convertOptions(options2));
    }










    $("#StartDate").datepicker({
        showOn: "both",
        changeMonth:true,
        changeYear:true,
        minDate:'-100y',
        showButtonPanel: true,
        showMonthAfterYear: true ,
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
        onClose: function( selectedDate ){
            $("#EndDate").datepicker("option", "minDate", selectedDate );
        }
    });
    $("#EndDate").datepicker({
        showOn: "both",
        changeMonth:true,
        changeYear:true,
        minDate:'-100y',
        dateFormat: 'YYYY-MM-DD',
        showButtonPanel: true,
        showMonthAfterYear: true ,
        dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
        onClose: function( selectedDate ){
            $("#EndDate").datepicker("option", "maxDate", selectedDate );
        }
    });

    $("#filter").click(function(){
        var from_date = $("#StartDate").val()
        var to_date = $('#EndDate').val();  
        console.log(from_date, to_date)

        if(from_date != '' && to_date != '')  
        {
            $.ajax({
                /*url: 'administrator:chart_practice',*/
                url : "{% url 'administrator:chart_practice' %}",
                method: "GET",
                data : {"from_date": from_date, "to_date": to_date},
                success:function(data)
                {
                    console.log('success')

                }
            });
        }
    });
    



</script>


</html>